<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/xo.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Brynne Prince, the APIs weatherstack and mapbox are both used to get the current weather for the location provided.</p>
        <img class="portrait" src="/img/After hours.jpg">
    </div>
    {{>footer}}
</body>

</html>